.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #cd77ef;
}

.octopus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.octopus__head {
  background-color: #d06cf5;
  border-radius: 0 300px 300px 0;
  position: relative;
  width: 300px;
  height: auto;
}

.octopus__head::before {
  content: '';
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 150px;
  left: 100px;
}

.octopus__head::after {
  content: '';
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 153px;
  left: 110px;
  animation: eyeMove 2s infinite alternate ease-in-out;
}

@keyframes eyeMove {
  0% {
    top: 160px;
  }
  100% {
    top: 150px;
  }
}

.octopus__smile {
  width: 60px;
  height: 30px;
  border-radius: 0 0 60px 60px;
  border: 5px solid white;
  border-color: transparent transparent white transparent;
  position: absolute;
  bottom: 170px;
  left: 90%;
  transform: translateX(-50%);
}

.octopus__tentacles {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.octopus__tentacles {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.octopus__visibility {
  opacity: 0;
  margin: 0 -108px;
}

.octopus__tentacle {
  background-color: #f1d5fc;
  margin: 2px 0;
  padding: 0 5px;
  width: 300px;
  position: relative;
  z-index: 1;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: flex-end;
  border-radius: 20px 0 0 20px;
  font-size: 15px;
  padding: 5px;
}

.octopus__tentacle::before {
  content: '';
  display: block;
  background-color: #cf79ef;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  border-radius: 20px 0 0 20px;
}

.octopus__tentacle::after {
  content: '';
  font-size: 10px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  border-radius: 20px 0 0 20px;
}

.octopus__tentacles::after {
  content: '';
  display: block;
  height: 10px;
  background-color: #f1d5fc;
  border-radius: 20px 0 0 20px;
}

.octopus__tentacle--filled--75::before {
  width: 75%;
}

.octopus__tentacle--filled--70::before {
  width: 70%;
}

.octopus__tentacle--filled--60::before {
  width: 60%;
}

.octopus__tentacle--filled--50::before {
  width: 50%;
}

.octopus__tentacle--filled--75::before {
  width: 75%;
}

.octopus__tentacle--filled--30::before {
  width: 30%;
}

.octopus__tentacle--filled--5::before {
  width: 5%;
}

.octopus__tentacle--goal--85::after {
  content: '85%';
  width: 85%;
}

.octopus__tentacle--goal--80::after {
  content: '80%';
  width: 80%;
}

.octopus__tentacle--goal--70::after {
  content: '70%';
  width: 70%;
}

.octopus__tentacle--goal--65::after {
  content: '65%';
  width: 65%;
}

.octopus__tentacle--goal--90::after {
  content: '90%';
  width: 90%;
}

.octopus__annotation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-family: Arial, Helvetica, sans-serif;
  color: #cd77ef;
  font-size: 14px;
  margin-top: 10px;
}

.octopus__brace {
  font-size: 48px;
  transform: rotate(270deg);
  margin-right: 300px;
}

.octopus__text {
  font-size: 16px;
  margin-right: 300px;
}

@media (max-width: 600px) {
  .octopus__head {
    display: none;
  }

  .octopus__brace {
    margin-right: 100px;
  }

  .octopus__text {
    margin-right: 100px;
  }
}
